<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hvad kan du gøre</title>
    <link href="StyleSheet.css" rel="stylesheet">
</head>
<body style background="baggrund1.jpeg">
    <h1 class="header"> Hvad kan DU gøre?</h1>
    <a href="index4.html">
        <div class="infoTable">
            <img class="billede" src="Madrester.jpg" alt="opskrifter" height="150" width="250">
            <img class="giffy" src="giphy.gif" alt="kok" height="150" width="250">
            <div class="divIndre1 div1">
                <p class="sort"> •Det kan være svært at nå at bruge det man har i køleskabet, nogle gange passer varerne ikke sammen, andre gange mangler man lige den sidste ting.
                ofte er det egentlig fordi man mangler inspiration til hvordan man kan bruge de varer man har.</p>
                <p class="sort bold"> •Klik ind og se mange gode opskrifter!</p>
            </div>
        </div>
    </a>
    <div class="infoTable div2">
        <img src="Grønlænder101.png" alt="ulandshjælp101" height="150" width="250">
        <div class="divIndre2">
            <p> • Fra madspild til madoveskud og madhjælp.
                Der bliver i Danmark smidt tusindvis af tons god,
                spiselig mad ud, som kunne været spist.
                Altimens siger en undersøgelse fra Arbejderbevægelsens Erhvervsråd,
                at alene i Danmark lever 300.000 danskere under OECD's fattigdomsgrænse.
                Der er mere end hvert 10. barn i Danmark, som lever i relativ fattigdom.
                10,2% af alle børn i alderen 0-17 år lever i relativ fattigdom, viser tal fra UNICEF.
        </div>
    </div>

    <div class="infoTable div3">
        <img src="toogood.png" alt="toogoodtogo" height="150" width="250">
        <div class="divIndre2">
            <p> •Vores mission er at inspirere og give alle mulighed for at gøre en forskel i kampen mod madspild.
                Vi ved, at hvis man skal leve efter det hver dag, skal vi gøre vores ord til handlinger.
                Med det i mente har vi sat vores nye ambition:
                At bidrage så meget som muligt til at skabe den globale bevægelse mod madspild.</p>
        </div>

    </div>

    <input class="buttonSide" onclick="window.location.href='index.html';" value="Tilbage" />
</>
</html>