<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>forside</title>
    <link href="StyleSheet.css" rel="stylesheet">
</head>
<body style background="baggrund1.jpeg">
    <h1 class="header"> Fakta om Madspild </h1>
    <input class="button button1" onclick="window.location.href='index1.html';" value="Madspild og Miljøet" />
    <input class="button button2" onclick="window.location.href='index2.html';" value="Hvad kan DU gøre?" />
    <input class="button button3" onclick="window.location.href='index3.html';" value="Generel Info" />
</body>
</html>