<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>info</title>
    <link href="StyleSheet.css" rel="stylesheet">
</head>
<body style background="baggrund1.jpeg">
    <h1 class="header">Information om Madspild</h1>
    <div class="infoTable">
        <img src="miljøoversigt1.png" alt="oversigt" height="150" width="850">
    </div>
    <div class="infoTable div2">
        <img src="colourbox.jpg" alt="mount madspild" height="150" width="250">
        <div class="divIndre2">
            <p> • Det er kun, når vi står sammen i kampen mod madspild, at vi kan skabe en positiv forandring.
                Af den årsag har vi besluttet at arbejde intensivt på 4 søjler,
                hvorfra vi har sat mål, vi vil nå inden 2020: husholdninger, forretninger,
                uddannelse og politik.</p>
            <p>
                • Det største madspild i servicesektoren stammer
                fra detailhandelen, der spilder 163.000 tons pr.
                år, svarende til 72 % af servicesektorens
                madspild.</p>
        </div>
    </div>

    <div class="infoTable div3">
        <img src="Madaffald.jpg" alt="banan" height="150" width="250">
        <div class="divIndre2">
            <p> • Affald skal sorteres i ti fraktioner: Mad, papir, pap, metal, glas, plastik, fødevarekartoner, restaffald og farligt affald.
                De nye regler lægger også op til sortering af tekstiler, som vil blive indført senere.
                De 10 slags affald markeres med piktogrammer, som bruges i alle kommuner.</p>
        </div>

    </div>

    <input class="buttonSide" onclick="window.location.href='index.html';" value="Tilbage" />
</body>
</html>