<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>opskrifter</title>
    <link href="StyleSheet.css" rel="stylesheet">
</head>
<body style background="baggrund1.jpeg">
    <h1 class="header">Opskrifter</h1>
    <div class="infoTable">
        <img src="RogerRice.jpg" alt="very nice" height="150" width="250">
        <div class="divIndre1 div1">
            <p> •Uncle Roger's Fried Rice (But Better)
                If you know Uncle Roger, you know that he is a good judge on fried rice,
                he even judged Gordon Ramsay. Some may say that Uncle Roger's fried rice recipe is perfect.
                However, this is But Better and nobody is safe, not even you Uncle Roger (kisses from papa),
                so I know we can make it better!</p>
        </div>
    </div>
    <div class="infoTable div2">
        <img src="Banankage.jpg" alt="banankage" height="150" width="250">
        <div class="divIndre2">
            <p> • Den gode gamle banankage, som altid er et hit.
                Banankagen er super nem at lave. Og så smager den, som banankagen altid har smagt.
            </p>
        </div>
    </div>

    <div class="infoTable div3">
        <img src="farsbrød.jpg" alt="farsbrød" height="150" width="250">
        <div class="divIndre2">
            <p> • Jeg er af mine venner kåret til "indendørs mester i farsbrød", men når de beder om opskriften, må jeg melde pas.
                De mest geniale af slagsen er nemlig opstået, når jeg har ryddet ud på hylder og i køleskab.
                Jeg går ud fra min standardopskrift på frikaldeller og blander så alverdens rester i</p>
            <p> • Alle stumperne får en tur i foodprocessoren og blandes i. Og skulle der ikke blive spist helt op,
                skærer jeg det sidste kolde stykke i skiver og bruger til pålæg.
            </p>
        </div>
    </div>

    <input class="buttonSide" onclick="window.location.href='index2.html';" value="Tilbage" />
    <input class="buttonSide startknap" onclick="window.location.href='index.html';" value="Forside" />
</body>
</html>