<!DOCTYPE html>
<html lang="en">
<style>
    .buttonSide {
        background-color: deepskyblue;
        color: black;
        border: 2px solid black;
        margin: 15px;
        padding: 25px;
        border-radius: 50%;
        text-align: center;
        font-size: 16px;
        font-style: italic;
        font-weight: bold;
        cursor: crosshair;
        position : absolute;
        top: 75%;
        right: 5%;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Hvad kan du gøre</title>
</head>
<body>
    <h1 style="text-align: center"> Hvad kan DU gøre</h1>
    <input class="buttonSide" onclick="window.location.href='index.html';" value="Tilbage" />
</body>
</html>